.header{
  width:100vw;
  height: 20px;
  background: #38AEF0;
  text-align: center;
  &__message{
    color: #ffffff;
    font-size: 10px;
  }
}

.contents{
  display:flex;
  width: 100vw;
  height: 100vh;
    &__left{
      width: 300px;
      background: #2f3e51;
      height: 100vh;
      overflow:scroll;
      &__user-name{
        color: #ffffff;
        background: #253141;
        height: 92px;
        line-height: 120px;
        font-weight: bold;
        margin-top: 0px;
        .list{
          //color:red;
          display: flex;
          justify-content: space-between;
          .user{
            font-size: 16px;
          }
          .pencil-btn{
            color:#ffffff;
            font-size: 16px;
          }
          .cog-btn{
            color:#ffffff;
            font-size: 16px;
          }
        }
      }
      &__group-name{
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
        margin-top: 30px;
        background: #2f3e51;
        height: 95px;
        &__message{
          font-size: 11px;
        }
      }
    }
    &__main{
      position:  relative;
      width: calc(100vw - 300px);
      height: 100%;
      &__group{
        width: calc(100vw - 300px);
        height: 90px;
        border-bottom: thin solid #eeeeee;
        &__group-name{
          position:  absolute;
          font-size: 20px;
          color: #333333;
          margin: 35px 0px 0px 40px;
        }
        &__member{
          position:  absolute;
          margin: 70px 0px 0px 40px;
          font-size: 12px;
          color: #999999;
        }
        &__edit{
          position:  absolute;
          line-height: 40px;  
          border: solid;
          border-color: #00ffff;
          border-width: thin;
          top: 28px;
          right: 40px;
          text-align: center;
          padding: 0 20px;
            .edit-btn{
              color: #00ffff;
              text-decoration: none;
              vertical-align: middle;
            }
        }
      }
      &__mid{
        width: calc(100vw - 300px);
        background-color: #fafafa;
        height: 600px;
        overflow:scroll;
        &__member{
          position: absolute;
          margin: 46px 0px 0px 40px;
          font-size: 20px;
        }
        .message{
          margin: 40px 0px 0px 40px;
          font-size: 14px;
          color: #434A54;
          .upper-message{
            margin-bottom: 10px;
            .list{
              display: flex;
              .user{
                font-size:16px;
                font-weight: bold;
                margin-right: 3px;
              }
              .date{
                margin-left: 2px;
                font-size:12px;
                color: #999999;
              }
            }
          }
        }
      }
      &__form{
        position:  absolute;
        box-sizing: content-box;
        width: calc(100vw - 300px);
        height: 100px;
        bottom: 0px;
        background: #C0C0C0;
        &__forms{
          margin-top: 20px;
        }
        &__form__mask
          .form__mask__image{
            font-size: 4px;
          }
          .fa{
            position:  absolute;
            font-size: 25px;
            top: 18px;
            right: 130px;
            margin-top: 18px;
            margin-right: 0px;
          }
          .form__message{
            position:  relative;
            height: 50px;
            width: 88%;
            margin-left: 10px;
            margin-right: 100px;
          }
          .hidden{
            position:  absolute;
            font-size: 16px;
            color: #434A54;
            display:none;
          }
          .form__submit{
            position:  absolute;
            top: 0px;
            right:20px;
            padding: 10px 20px;
            font-size: 1.2em;
            background-color: #38aef0;
            color: #ffffff;
            border-style: none;
            margin-top: 20px;
          }
      }
    }
}